<div class="container">
  <h3>图片文字识别注册</h3>
  <br>
  <form>
    <div class="form-group">
      <label for="name">用户名</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="repassword">确认密码</label>
      <input type="password" class="form-control" id="repassword">
    </div>

    <div class="form-group">
      <label for="email">邮箱</label>
      <input type="text" class="form-control" id="email" required>
    </div>

    <button type="submit" class="btn btn-success">REGISTER</button>

  </form>
</div>
