.tab-pane{
  margin-left: 400px;
  margin-top: -190px;
}

.Set1{
  margin-left: 35px;
}

.form-control{
  width:550px;
  height: 35px;
}

hr{
  width: 800px;
  margin-left: 3px;
}

label{
  margin-left: 35px;
}

input{
  margin-left: 35px;
}

button{
  margin-left: 500px;
}

.hr1{
  margin-left: 60px;
  width: 710px;
}
