<!--个人信息-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
  个人信息
</button>

<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card modal-header">

        <img  class="card-img-top" src="..\..\assets\image\image2.jpg">

        <button type="button" class="close card-img-overlay" data-dismiss="modal" id="closeButton">&times;</button>

        <img class="card-img-overlay edit" src="..\..\assets\image\edit.png">
      </div>

      <div class="modal-body">
        <p>用户名：</p>

        <p>邮 &nbsp;&nbsp; 箱:</p>

        <p>职 &nbsp;&nbsp; 业:</p>

        <p>城  &nbsp;&nbsp; 市:</p>

        <p>手  &nbsp;&nbsp; 机:</p>

      </div>

    </div>
  </div>
</div>
