<!--个人信息-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" id="childPersonal1" style="display: none;">
  个人信息
</button>

<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card modal-header">

        <!--<img  class="card-img-top" src="../../assets/image/image.jpg">-->
        <img  class="card-img-top" [src]="imgurl">

        <button type="button" class="close card-img-overlay" data-dismiss="modal" id="closeButton">&times;</button>

        <!--<i class="iconfont icon-bianji"></i>-->
        <a (click)="setPersonal()"><img class="card-img-overlay edit rounded-circle" src="../../assets/image/bianji.png"></a>
      </div>

      <div class="modal-body">
        <p>用户名：{{ per.cname }}</p>

        <p>邮 &nbsp;&nbsp; 箱：{{ per.cno }}</p>

        <p>职 &nbsp;&nbsp; 业:：{{ per.profession }}</p>

        <p>城  &nbsp;&nbsp; 市：{{ per.address }}</p>

        <p>手  &nbsp;&nbsp; 机：{{ per.phone }}</p>

      </div>

    </div>
  </div>
</div>
