<div class="ocr_home">
  <!-- 选择语言、识别按钮、下载按钮 -->
  <div class="ocr_operations">
    <div class="ocr_operations_left">
      <div id="langSelect" class="lang-select item-select" (click)="onDisplay()">
        <span class="select-text">{{ selectedLanguage.name }}</span>

        <ul id="languageSelect" class="select clear" [style.display]="isDisplay">
          <li *ngFor="let language of languages" data-value="{{ language.data }}" (click)="onSelect(language)">
            <a>{{ language.name }}</a>
          </li>
          <!--
          <li class="default selected" data-value="AUTO"><a href="javascript:;">自动检测语言</a></li>
          <li data-value="zh"><a href="javascript:;">中文</a></li>
          <li data-value="en"><a href="javascript:;">英语</a></li>
          <li data-value="ja"><a href="javascript:;">日语</a></li>
          <li data-value="ko"><a href="javascript:;">韩语</a></li>
          <li data-value="fr"><a href="javascript:;">法语</a></li>
          <li data-value="ru"><a href="javascript:;">俄语</a></li>
          <li data-value="es"><a href="javascript:;">西班牙语</a></li>
          <li data-value="pt"><a href="javascript:;">葡萄牙语</a></li>
          <li data-value="vi"><a href="javascript:;">越南语</a></li>
          -->
        </ul>
        <input class="select-input" id="language" name="language" type="hidden" value="AUTO">
      </div>
      <a class="ocr_operations_button_discern" id="transMachine" (click)="ocrHomeInputComponent.uploadFile()">识别</a>
    </div>
    <div class="ocr_operations_right">
      <a class="ocr_operations_button_download clog-js" id="download" [href]="ocrHomeInputComponent.downloadUrl">下载</a>
    </div>
  </div>
  <!-- 上传 -->
  <app-ocr-home-input #ocrHomeInputComponent></app-ocr-home-input>
</div>
