<div class="ocr_daoHang">
  <div class="ocr_daoHang_container">

    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <a routerLink="/home" routerLinkActive="active" class="ocr_daoHang_logo"><span class="logo_red">SPEED</span>EASY
            </a>
          </div>
          <div class="col-6">
            <span class="logo_jianjie">免费、即使的多语种在线图片文字识别</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <ul class="ocr_daoHang_list">
          <div class="row">
            <div class="col-3">
              <li><a routerLink="/ocr-personal" routerLinkActive="active">文件预览</a></li>
            </div>
            <div class="col-3">
              <li><a routerLink="/history" routerLinkActive="active">历史记录</a></li>
            </div>
            <div class="col-3">
              <li class="last"><a class="login-link" routerLink="/login" routerLinkActive="active">登录</a></li>
            </div>
            <div class="col-3">
              <li><a routerLink="/register" routerLinkActive="active">注册</a></li>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-ocr-footer></app-ocr-footer>


