<div class="container">
  <h3>图片文字识别登录</h3>
  <br>
  <form (ngSubmit)="onSubmit()" #ocrLogin="ngForm">
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" name="Cname" id="username" [(ngModel)]="model.username" required>
    </div>

    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" name="Cpass" id="password" [(ngModel)]="model.password">
    </div>

    <div class="form-group">
      <label for="verification">验证码</label>
      <input type="text" class="form-control" name="verification" id="verification" [(ngModel)]="verification" required>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!ocrLogin.form.valid">Submit</button>

  </form>
</div>
