<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" style="display: none;" id="openLoginModal">
  登录
</button>

<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">图片文字识别登录</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form (ngSubmit)="onSubmit()" #ocrLogin="ngForm">
      <div class="modal-body">

          <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" name="Cname" id="username" [(ngModel)]="model.username" required>
          </div>

          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" name="Cpass" id="password" [(ngModel)]="model.password">
          </div>

          <div class="form-group">
            <label for="verification">验证码</label>
            <input type="text" class="form-control" name="verification" id="verification" [(ngModel)]="verification">
          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeLoginModal">close</button>
        <button type="submit" class="btn btn-success" [disabled]="!ocrLogin.form.valid">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

