<div class="Personal">
  <div class="row">
    <div class="col-xs-3 col-sm-6">

      <div class="head">
        <p align="center" style="font-size: 15px">头像</p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-6">
      <nav>
        <br><br>
        <ul class="nav nav-pills"  style="display: block;width: 300px">
        <li ><a class="nav-link active info" data-toggle="pill" href="#home" routerLink="./childpersonal1">个人信息</a></li>
          <br>
        <li ><a class="nav-link set" data-toggle="pill" href="#menu1" routerLink="./childpersonal2">个人设置</a></li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
