<div class="Personal">
  <div class="row">
    <div class="col-xs-3 col-sm-6">

      <div class="head">
        <p align="center" style="font-size: 15px">头像</p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-6">
      <nav>
        <br><br>
        <ul>
        <li><a class="info" routerLink="./childpersonal1">个人信息</a></li>
          <br>
        <li><a class="set" routerLink="./childpersonal2">个人设置</a></li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<!--<div class="container">-->
  <!--<div class="row">-->
   <!--<div class="col-11">-->
     <!--<div class="row">-->
       <!--<-->
     <!--</div>-->
   <!--</div>-->
  <!--</div>-->
<!--</div>-->
