<div class="container">

<!--<div class="history" (click)="Onselect()" *ngFor="let a of imgs">-->
<!--{{ a }}-->
<!--</div>-->

<div class="row">
<div class="card col-3" id="card1" (click)="Onselect()" *ngFor="let a of imgs">
  <img class="card-img-top" src="../../assets/image/image2.jpg" alt="Card image">
  <div class="card-body" id="card-body1">
    <h4 class="card-title text-center" id="p1">url</h4>
    <p class="card-text" id="p2">time</p>
  </div>
</div>
</div>

</div>

<app-ocr-login></app-ocr-login>
<app-ocr-register></app-ocr-register>
<app-ocr-childpersonal1></app-ocr-childpersonal1>
<app-ocr-childpersonal2></app-ocr-childpersonal2>


