#card1 {
  margin: 1px 24px 40px 52px;
  padding: 10px;
}

.container{
  width: 920px;
}

.card-title {
  font-size: 15px;
}

.card-text {
  font-size: 10px;
}

#p2{
  float: right;
}

#card-body1{
  padding-top: 15px;
  padding-bottom: 2px;
}
