.modal-dialog{
  width: 342px;
}

input{
  height: 28px;
}

label{
  font-size: 15px;
}

/*.modal-body {*/
  /*margin-left: 15px;*/
/*}*/

.form-group{
  margin-bottom: 2px;
}

.collapse{
  margin-top: 8px;
}

.card-body{
  margin-top: -15px;
}
