<!--个人设置-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySet" id="childPersonal2">
  个人设置
</button>

<div class="modal fade" id="mySet">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a>个人设置</a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form>

          <div id="accordion">

            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  基本信息
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">

                  <div class="form-group">
                    <label for="name">用户名</label>
                    <input type="text" class="form-control" id="name" required>
                  </div>

                  <div class="form-group">
                    <label for="position">职业</label>
                    <input type="text" class="form-control" id="position">
                  </div>

                  <div class="form-group">
                    <label for="city">城市</label>
                    <input type="text" class="form-control" id="city">
                  </div>

                  <div class="form-group">
                    <label for="phone">手机</label>
                    <input type="text" class="form-control" id="phone">
                  </div>

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                  修改密码
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="pass">旧密码</label>
                    <input type="password" class="form-control" id="pass">
                  </div>
                  <div class="form-group">
                    <label for="newpass">新密码</label>
                    <input type="password" class="form-control" id="newpass">
                  </div>
                  <div class="form-group">
                    <label for="confirm">确认新密码</label>
                    <input type="password" class="form-control" id="confirm">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
        <button type="submit" class="btn btn-success">确认修改</button>
      </div>

    </div>
  </div>
</div>
